{% extends "layout.html" %}

{% block title %}posteos{% endblock %}

{% block body %}
<h1>Welcome to posteos</h1>

    <div>
       <form method="POST" action="">
                    <div >
                        <input type="text" placeholder="Titulo" id="tittle" name="tittle" required>
                    </div>
                    <div>
                        <input type="text" placeholder="Escriba lo que esta pensando" id="content" name="content" required>
                    </div>
                    <div>
                        <button type="submit">Save</button>
                    </div>
        </form>

    <div>
        <table>
            <th>Titulo</th>
            <th>Hora</th>
            <th>Contenido</th>
            <th>Usuario</th>
            <th> usuario que comenta</th>
            
        <tr>
            {% for post in postsList %}
                <tr>
                    <td>{{ post.tittle }}</td>
                    <td>{{ post.date }}</td>
                    <td>{{ post.content }}</td>
                    <td>{{ post.user.username }}</td>
                    <td>
                        <a href="/posts/{{post.id}}">
                            <button>ver comentarios</button>
                        </a>
                    </td>
                </tr>
            {% endfor%}
        </tr>    

        </table>
        </div>
    </div>
    



{% endblock %}